@tailwind base;
@tailwind components;
@tailwind utilities;

/*********base layer***********/
@layer base {
    @font-face {
        font-family: yekan;
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/iranyekanwebregular.eot");
        src: url("../fonts/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),
            /* IE6-8 */ url("../fonts/iranyekanwebregular.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/ url("../fonts/iranyekanwebregular.woff") format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/iranyekanwebregular.ttf") format("truetype");
    }
    * {
        @apply transition-all duration-200 ease-in-out outline-none;
    }

    html {
        @apply flex min-h-full;
    }

    body {
        @apply min-h-full;
        font-size: 14px;
        flex: 1;
    }

    #root {
        @apply h-full;
        direction: rtl;
    }

}
/*******component layer********/
@layer components {

    .site {
        @apply min-h-full flex flex-col;
    }

    .siteContent {
        @apply w-full;
        flex: 1 0 auto;
        background: #fcc91b;
        background: linear-gradient(0deg, #fcc91b 0%, #f7b121 100%);
    }

    .siteContent:after {
        content: "\00a0";
        @apply block h-0 invisible;
    }
    .container {
        @apply px-4 lg:px-10 xl:px-4 mx-auto;
    }
}

/*******component layer********/
@layer utilities {

    
    #menu-toggle:checked + #menu{
        @apply block;
    }

    .navicon {
        @apply bg-dark;
        width: 1.125em;
        height: .125em;
    }

    .navicon::before,
    .navicon::after {
        @apply block absolute w-full h-full;
        transition: all .2s ease-out;
        content: '';
    }

    .navicon::before {
        @apply bg-dark;
        top: 5px;
    }

    .navicon::after {
        @apply bg-dark;
        top: -5px;
    }

    .menu-btn:not(:checked) ~ .menu {
        @apply hidden;
    }

    .menu-btn:checked ~ .menu {
        @apply block;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        @apply bg-light;
    }

    .menu-btn:checked ~ .menu-icon .navicon::before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::before,
    .menu-btn:checked ~ .menu-icon .navicon::after {
        @apply top-0;
    }
}
